<div class="header-component-container">
        <div class="header-component">
            <div class="icon-tag-search-parent">
                <div class="icon-parent">
                    <div class="icon"></div>
                    <div class="arrow-icon"></div>
                </div>
                <div class="tag-parent">
                    <app-tags class="tag" [tagname]="title"></app-tags>
                </div>
                <div class="search-parent"></div>
            </div>
        </div>
</div>
